/* #region common */

body {
    font-family: "Roboto", sans-serif;
    color: #434455;
    background-color: #ffffff;
}

ul {
    list-style-type: none;
    margin: 0;
    padding-left: 0;
}

a {
    text-decoration: none;
    color: inherit;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}

button{
    cursor: pointer;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0, 0, 0, 0);
    overflow: hidden;
}

.container {
    max-width: 320px;
    padding: 0 16px;
    margin: 0 auto;
}

@media screen and (min-width: 768px) {
    .container {
            max-width: 768px;
        }
}

@media screen and (min-width: 1158px) {
    .container {
        max-width: 1158px;
        padding: 0 15px;
    }
}
/* #endregion common */

/* #region header */
.page-header {
    border-bottom: 1px solid #e7e9fc;
    box-shadow: 0 1px 6px 0 rgba(46, 47, 66, 0.08), 0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 2px 1px 0 rgba(46, 47, 66, 0.08);
}

.page-header .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.nav-list,
.page-address{
    display: none;
}

.main-logo {
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4D5AE5;
    display: block;
    padding: 16px 0;
}

.logo-text {
    color: #2E2F42;
}

.burger-btn{
    padding: 0;
    border: none;
    background-color: transparent;
}

.burger-icon{
    display: block;
    fill: #2f2f37;
}

@media screen and (min-width: 768px) {
    .burger-btn {
        display: none;
    }

    .main-logo{
        padding: 24px 0;
        margin-right: 120px;
    }

    .page-nav {
        display: flex;
        align-items: center;
    }

    .nav-list {
        display: flex;
        gap: 40px;
    }

    .nav-link {
        font-weight: 500;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        color: #2E2F42;
        display: block;
        padding: 24px 0;
        transition-property: color;
        transition-duration: 250ms;
        transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

    }

    .nav-link.current {
        position: relative;
        color: #404BBF;
    }

    .nav-link.current::after {
        position: absolute;
        content: '';
        width: 100%;
        height: 4px;
        border-radius: 2px;
        background-color: #404BBF;
        left: 0;
        bottom: -1px;
    }


    .nav-link:hover,
    .nav-link:focus {
        color: #404BBF;
    }

    .page-address {
        font-style: normal;
        display: block;
    }

    .address-list {
        display: flex;
        flex-direction: column;
        gap: 12px;
    }

    .address-list-item {
        font-size: 12px;
    }

    .address-link {
        font-weight: 400;
        font-size: 12px;
        line-height: 1.17;
        letter-spacing: 0.04em;
        color: #434455;
        display: block;
        transition-property: color;
        transition-duration: 250ms;
        transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    }
      
    .address-link:hover,
    .address-link:focus {
        color: #404BBF;
    }
}

@media screen and (min-width: 1158px){
    .main-logo {
        margin-right: 76px;
    }

    .address-list {
        flex-direction: row;
        align-items: center;
        gap: 40px;

    }

    .address-link {
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        padding: 24px 0;
    }
}

/* mobile menu */
.mobile-menu{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #fff;
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
}

.mobile-menu.is-open{
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
}

@media screen and (min-width: 768px){
    .mobile-menu{
        display: none;
    }
}

.mobile-menu-container{
    position: relative;
    padding-top: 72px;
    padding-bottom: 40px;
    display: flex;
    flex-direction: column;
    height: 100%;

}

.close-menu-btn{

}

.menu-icon{

}

.menu-nav{
    margin-bottom: auto;
}

.menu-nav-list{

}

.menu-list-item{

}

.menu-nav-link{

}

.menu-address{

}

.menu-address-list{

}

.menu-address-item{

}

.menu-address-link{

}

.menu-social-list{

}

.menu-social-item{

}

.menu-social-link{

}

.menu-social-icon{

}



/* #endregion header */