/* #region common */

body {
    font-family: "Roboto", sans-serif;
    color: #434455;
    background-color: #ffffff;
}

ul {
    list-style-type: none;
    margin: 0;
    padding-left: 0;
}

a {
    text-decoration: none;
    color: inherit;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}

button{
    cursor: pointer;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0, 0, 0, 0);
    overflow: hidden;
}

.container {
    max-width: 320px;
    padding: 0 16px;
    margin: 0 auto;
}

@media screen and (min-width: 768px) {
    .container {
            max-width: 768px;
        }
}

@media screen and (min-width: 1158px) {
    .container {
        max-width: 1158px;
        padding: 0 15px;
    }
}
/* #endregion common */

/* #region header */
.page-header {
    border-bottom: 1px solid #e7e9fc;
    box-shadow: 0 1px 6px 0 rgba(46, 47, 66, 0.08), 0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 2px 1px 0 rgba(46, 47, 66, 0.08);
}

.page-header .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.nav-list,
.page-address{
    display: none;
}

.main-logo {
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4D5AE5;
    display: block;
    padding: 16px 0;
}

.logo-text {
    color: #2E2F42;
}

.burger-btn{
    padding: 0;
    border: none;
    background-color: transparent;
}

.burger-icon{
    display: block;
    fill: #2f2f37;
}

@media screen and (min-width: 768px) {
    .burger-btn {
        display: none;
    }

    .main-logo{
        padding: 24px 0;
        margin-right: 120px;
    }

    .page-nav {
        display: flex;
        align-items: center;
    }

    .nav-list {
        display: flex;
        gap: 40px;
    }

    .nav-link {
        font-weight: 500;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        color: #2E2F42;
        display: block;
        padding: 24px 0;
        transition-property: color;
        transition-duration: 250ms;
        transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

    }

    .nav-link.current {
        position: relative;
        color: #404BBF;
    }

    .nav-link.current::after {
        position: absolute;
        content: '';
        width: 100%;
        height: 4px;
        border-radius: 2px;
        background-color: #404BBF;
        left: 0;
        bottom: -1px;
    }


    .nav-link:hover,
    .nav-link:focus {
        color: #404BBF;
    }

    .page-address {
        font-style: normal;
        display: block;
    }

    .address-list {
        display: flex;
        flex-direction: column;
        gap: 12px;
    }

    .address-list-item {
        font-size: 12px;
    }

    .address-link {
        font-weight: 400;
        font-size: 12px;
        line-height: 1.17;
        letter-spacing: 0.04em;
        color: #434455;
        display: block;
        transition-property: color;
        transition-duration: 250ms;
        transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    }
      
    .address-link:hover,
    .address-link:focus {
        color: #404BBF;
    }
}

@media screen and (min-width: 1158px){
    .main-logo {
        margin-right: 76px;
    }

    .address-list {
        flex-direction: row;
        align-items: center;
        gap: 40px;

    }

    .address-link {
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        padding: 24px 0;
    }
}

/* mobile menu */
.mobile-menu{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #fff;
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
}

.mobile-menu.is-open{
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
}

@media screen and (min-width: 768px){
    .mobile-menu{
        display: none;
    }
}

.mobile-menu-container{
    position: relative;
    padding: 72px 16px 40px;
    display: flex;
    flex-direction: column;
    height: 100%;

}

.close-menu-btn{
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    top: 24px;
    right: 24px;
    width: 24px;
    height: 24px;
    background-color: transparent;
    border-radius: 50%;
    border: 1px solid #E7E9FC;
    padding: 0;
}

.menu-icon{
    display: block;
    fill: #2E2F42;
}

.menu-nav{
    margin-bottom: auto;
}

.menu-nav-list{
    display: flex;
    flex-direction: column;
    gap: 40px;
    align-items: flex-start;
}

.menu-nav-link{
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    color: #2E2F42;
}

.menu-nav-link.current{
    color: #404BBF;
}

.menu-address{
    font-style: normal;
    display: block;
}

.menu-address-list{
    display: flex;
    gap: 24px;
    flex-direction: column;
    align-items: flex-start;
}

.menu-address-link{
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
}

.menu-address-link.current{
    color: #4D5AE5;
}

.menu-social-list{
    display: flex;
    gap: 40px;
    justify-content: center;
    margin-top: 48px;
}
.menu-social-link{
    display: flex;
    background-color: #4D5AE5;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    align-items: center;
    justify-content: center;
}

.menu-social-icon{
    fill: #F4F4FD;
}
/* #endregion header */

/* #region hero */
.hero-section {
    background-color: #2E2F42;
    background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url(../images/hero-mobile.jpg);
    padding: 72px 0;
    max-width: 320px;
    margin: 0 auto;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.hero-title {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-align: center;
    color: #ffffff;
    margin: 72px auto;
    max-width: 216px;
}

.hero-button {
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #ffffff;
    background-color: #4D5AE5;
    display: block;
    margin: 0 auto;
    border-radius: 4px;
    padding: 16px 32px;
    min-width: 169px;
    height: 56px;
    border: none;
}

@media screen and (min-resolution: 192dpi) {
    .hero-section{
        background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url(../images/hero-mobile@2x.jpg);
    }
}

@media screen and (min-width: 768px) {
    .hero-section {
        max-width: 768px;
        background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url(../images/hero-tablet.jpg);
    }

    .hero-title{
        font-size: 56px;
        line-height: 1.07;
        max-width: 496px;
        margin: 36px auto;
    }
}

@media screen and (min-width: 768px) and (min-resolution: 192dpi) {
    .hero-section {
        background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url(../images/hero-tablet@2x.jpg);
    }
}

@media screen and (min-width: 1158px) {
    .hero-section {
        max-width: 1440px;
        background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url(../images/hero-desktop.jpg);
    }

    .hero-title {
        margin: 48px auto;
    }

    .hero-button{
        transition-property: background-color;
        transition-duration: 250ms;
        transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    }

    .hero-button:hover,
    .hero-button:focus {
        background-color: #404BBF;
    }
}

@media screen and (min-width: 1158px) and (min-resolution: 192dpi) {
    .hero-section {
        background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url(../images/hero-desktop@2x.jpg);
    }
}
/* #endregion hero */

/* #region values */
.values {
    padding: 96px 0;
}

.values-list {
    display: flex;
    flex-wrap: wrap;
    gap: 72px;
    margin: 0 auto;
}

.values-list-item {
    width: calc((100% - 72px*3) / 4);
    width: 100%;
}

.icon-container{
    display: none;
}

.values-item-title {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-align: center;
    color: #2E2F42;
    margin-bottom: 8px;
}

.values-text {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
}

@media screen and (min-width: 768px) {
    .values-list{
        column-gap: 24px;
        row-gap: 72px;
    }
    
    .values-list-item {
        width: calc((100% - 24px) / 2);
    }

    .values-item-title{
        text-align: start;
    }
}

@media screen and (min-width: 1158px){
    .values {
        padding: 120px 0;
    }

    .values-list{
        gap: 24px;
    }

    .values-list-item {
        width: calc((100% - 72px) / 4);
    }

    .icon-container {
        border: 1px solid #8E8F99;
        border-radius: 4px;
        background-color: #F4F4FD;
        padding: 24px 100px;
        margin-bottom: 8px;
        display: flex;
        align-items: center;
        justify-content: center;
        height: 112px;
    }

    .icon {
        display: block;
        margin: 0 auto;
    }

    .values-item-title{
        font-weight: 500;
        font-size: 20px;
        line-height: 1.2;
    }

    .values-text{
        font-weight: 400;
    }
}
/* #endregion values */
