/* #region portfolio */
.portfolio{
    padding: 120px 0;
}

.portfolio-title{
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-align: center;
    text-transform: capitalize;
    color: #2E2F42;
    margin-bottom: 72px;
}

.portfolio-list{
    display: flex;
    flex-wrap: wrap;
    column-gap: 24px;
    row-gap: 48px;
}

.portfolio-list-item{
    transition-property: box-shadow;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-list-item:hover{
    box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08), 0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
}

.portfolio-overlay{
    position: relative;
    overflow: hidden;
}

.portfolio-overlay-text {
    position: absolute;
    top: 0;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #F4F4FD;
    padding: 40px 32px;
    background-color: #4d5ae5;
    height: 100%;
    width: 100%;
    transform: translateY(100%);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-list-item:hover .portfolio-overlay-text {
    transform: translateY(0%);
}

.portfolio-description-container{
    border-bottom: 1px solid #E7E9FC;
    border-left: 1px solid #E7E9FC;
    border-right: 1px solid #E7E9FC;
    padding: 32px 16px;
}

.portfolio-item-title{
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2E2F42;
    margin-bottom: 8px;
}

.portfolio-text{
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
}

/* #endregion portfolio */

/* #region footer */
.section-footer{
    background-color: #2E2F42;
    padding: 100px 0;
}

.footer-container{
    width: 100%;
    max-width: 1158px;
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    align-items: baseline;
}

.footer-logo-container {
    margin-right: 120px;
}

.footer-logo{
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4D5AE5;
    display: inline-block;
    margin-bottom: 16px;
}

.footer-logo-text{
    color: #F4F4FD;
}

.footer-text{
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #F4F4FD;
    width: 264px;
}

.footer-icons-container{
}

.footer-social-text{
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #ffffff;
    margin-bottom: 16px;
}

.footer-social-list{
    display: flex;
    gap: 16px;
}

.footer-social-item{
}

.footer-social-link{
    display: flex;
    background-color: #4D5AE5;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    align-items: center;
    justify-content: center;
    transition-property: background-color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-social-link:hover,
.footer-social-link:focus{
    background-color: #31D0AA;
}

.footer-form-container{
    margin-left: 80px;
}

.subscribe-text{
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #FFF;
    margin-bottom: 16px;
}

.subscribe-container{
    display: flex;
    gap: 24px;
}

.subscribe-field{

}

.email-field{
    border: 1px solid #FFF;
    border-radius: 4px;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
    width: 264px;
    height: 40px;
    font-size: 12px;
    line-height: 2;
    letter-spacing: 0.04em;
    color: #ffffff;
    background-color: transparent;
    padding-left: 16px;
    transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.email-field::placeholder{
    color: #ffffff;
}

.email-field:focus{
    border: 1px solid #31D0AA;
    outline: none;
}

.subscribe-button{
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #ffffff;
    background-color: #4D5AE5;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 16px;
    cursor: pointer;
    border-radius: 4px;
    border: none;
    min-width: 165px;
    height: 40px;
    padding: 8px 24px;
    transition-property: background-color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.subscribe-button:hover,
.subscribe-button:focus{
    background-color: #31D0AA;
}

.footer-subscribe-icon{
    fill: #ffffff;
    margin-left: 16px;
}
/* #endregion footer */

/* #region popup */
.backdrop{
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 0;
    left: 0;
    z-index: 99999;
    background-color: rgba(46, 47, 66, 0.4);
    width: 100%;
    height: 100%;
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.is-open{
    opacity: 1;
    user-select: auto;
    pointer-events: auto;
    visibility: visible;
}

.popup-container{
    position: relative;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 408px;
    min-height: 584px;
    border-radius: 4px;
    box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.14), 0 1px 3px 0 rgba(0, 0, 0, 0.12), 0 2px 1px 0 rgba(0, 0, 0, 0.2);
    background-color: #FCFCFC;
    padding: 72px 24px 24px 24px;
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);

}

.popup-text {
    max-width: 360px;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    text-align: center;
    color: #2E2F42;
    margin-bottom: 16px;
}

.close-popup-btn{
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    top: 24px;
    right: 24px;
    width: 24px;
    height: 24px;
    background-color: #E7E9FC;
    border-radius: 50%;
    border: 1px solid rgba(0, 0, 0, 0.1);
    cursor: pointer;
    padding: 0;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.close-popup-btn:hover,
.close-popup-btn:focus{
    background-color: #404bbf;
    border: none;
    fill: #FFF;
}

.close-icon{
    display: block;
    fill: #2E2F42;
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.close-popup-btn:hover .close-icon,
.close-popup-btn:focus .close-icon {
    fill: #ffffff;
}

.form-field-wrapper{
    margin-bottom: 8px;
}

.label-field{
    display: block;
    font-weight: 400;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: #8E8F99;
    margin-bottom: 4px;
}

.input-wrapper{
    position: relative;
}

.text-field{
    border: 1px solid rgba(46, 47, 66, 0.4);
    border-radius: 4px;
    width: 100%;
    height: 40px;
    background-color: transparent;
    color: #111;
    padding-left: 38px;
    outline: transparent;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.text-field:focus{
    border-color: #4D5AE5;
    outline: none;
}

.form-icon{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 16px;
    fill: #2E2F42;
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.text-field:focus+.form-icon{
    fill: #4D5AE5;
}

.form-comment-wrapper{
    margin-bottom: 16px;
}

.comment-textarea{
    border: 1px solid rgba(46, 47, 66, 0.4);
    border-radius: 4px;
    width: 100%;
    height: 120px;
    padding: 8px 16px;
    resize: none;
    outline: transparent;
    font-weight: 400;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: rgba(46, 47, 66, 0.4);
    background-color: transparent;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.comment-textarea:focus{
    border-color: #4D5AE5;
}

.checkbox-wrapper{
    margin-bottom: 24px;
}

.policy-checkbox{

}

.custom-checkbox {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    margin-right: 8px;
    cursor: pointer;
    width: 16px;
    height: 16px;
    border-radius: 2px;
    border: 1px solid rgba(46, 47, 66, 0.4);
    fill: transparent;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.checkbox-icon{

}

.policy-checkbox:checked+.label-field>.custom-checkbox{
    background-color: #404bbf;
    border: none;
    fill: #F4F4FD;
}

.policy-accent{
    line-height: 1.3;
    text-decoration: underline;
    color: #4D5AE5;
}

.form-button {
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #ffffff;
    background-color: #4D5AE5;
    display: block;
    margin: 0 auto;
    cursor: pointer;
    border-radius: 4px;
    border: none;
    min-width: 169px;
    height: 56px;
    padding: 16px 32px;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form-button:hover,
.form-button:focus {
    background-color: #404BBF;
}

/* #endregion popup */